/* ------ Colors------ */

$primary-red: hsl(0, 100%, 67%);
$primary-yellow: hsl(39, 100%, 56%);
$primary-green: hsl(166, 100%, 37%);
$primary-blue: hsl(234, 85%, 45%);

$circle-violet: hsla(256, 72%, 46%, 1);
$circle-persian: hsla(241, 72%, 46%, 0);

$bg-slate: hsl(252, 100%, 67%);
$bg-royal: hsl(241, 81%, 54%);

$color-white: hsl(0, 0%, 100%);
$neutral-blue: hsl(221, 100%, 96%);
$neutral-lavander: hsl(241, 100%, 89%);
$nutral-dark: hsl(224, 30%, 27%);

/* -----Fonts --------- */
$main-font: 'Hanken Grotesk', sans-serif;


/*  --------- Shadow ------- */
$shadow-box: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);